.event-details {
  &__location {
    h1 {
      margin: 0;
    }

    &__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 1.5rem;

      h1 {
        font-size: 2em;

        &:last-child {
          color: $color-red;
        }
      }
    }

    &__content {
      height: 355px;

      div {
        background-color: $color-secondary-darkest;
        padding: .5rem 2rem;
        p {
          margin: 0;
          color: $color-white;
          font-family: 'RobotoMono';
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }

    h1 {
      font-size: 2em;
      margin-top: 1rem;

      @media screen and (min-width: 770px) {
        font-size: 3.5em;
      }  
    }
  } 
} 